aio-pika
aiormq
asgiref
certifi
cffi
chardet
click
cryptography
Django
djangorestframework
gunicorn
h11
httptools
idna
minio
motor
multidict
pamqp
phonenumbers
Pillow
pycparser
PyJWT
pymongo
python-magic
pytz
requests
sqlparse
urllib3
uvicorn
uvloop
yarl
psutil